* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: fantasyImport;
    src: url(font/Enchanted_Land_DEMO.otf);
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(images/shot-by-cerqueira-HEMgXMFpsAw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding-bottom: 12px;
}

.logo-background {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 30vh;
    width: 30vw;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 88px;
    width: 88px;
    margin-right: 12px;
}

.logo {
    color: white;
    font-size: 5em;
    font-family: fantasyImport;
    text-shadow: 2px 2px 3px black;
}

.credit {
    color: white;
    font-size: small;
}

.credit a {
    color: white;
}

.right {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: #f7ead6;
    color: #32151b;
}

.header,
.sign-up-sheet,
.create-area {
    padding: 0 128px 0 48px;
}

.header {
    font-size: x-large;
    padding-bottom: 48px;
}

.fake-signup {
    padding-top: 128px;
    padding-bottom: 32px;
}

.fake-hook {
    font-weight: 600;
}


.sign-up-sheet {
    background-color: #dfbb84;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 8px 10px rgb(59, 34, 0);
}

h2 {
    padding-bottom: 24px;
    font-weight: 600;
}

form {
    display: flex;
}

label {
    font-size: small;
    font-weight: bold;
}

input {
    margin: 0 64px 24px 0;
    background-color: rgb(241, 241, 241);
    width: 240px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid #e36414;
}

ul {
    list-style: none;
}

.create-area {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 42px;
}

button {
    background-color: #9a031e;
    border: none;
    border-radius: 8px;
    font-size: large;
    color: white;
    width: 256px;
    height: 48px;
    box-shadow: 0 8px 10px #41000c;
}

.existing a {
    color: #9a031e;
    text-decoration: none;
}